/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:368ee977cb24ede3d65c1bfb22a54d66:09bf1330e6e030296277970d0e504b65:9944d18fe59dc01ae6af000c5343f9db$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-ipad {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../assets/sprites_ipad.png);}

.TNW_Splash_Start_n {width:271px; height:73px; background-position: -822px -77px}
.TNW_Splash_Start_s {width:271px; height:73px; background-position: -822px -2px}
.TNW_Splash_Start~iPad_n {width:434px; height:116px; background-position: -386px -120px}
.TNW_Splash_Start~iPad_s {width:434px; height:116px; background-position: -386px -2px}
.TNW_Timeline_Content_Play_n {width:190px; height:190px; background-position: -194px -2px}
.TNW_Timeline_Content_Play_s {width:190px; height:190px; background-position: -2px -2px}
