/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:cfbd8250ef99d489527ff96b4c311009:3e00cb127a59ffa4c15f4aa5c67a199b:fdaab671797ff281ba79188aadad068c$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../assets/sprites.png);}

.TNW_Timeline_Arrow_Divide {width:136px; height:3px; background-position: -1386px -518px}
.TNW_Timeline_Arrow_Down_n {width:72px; height:35px; background-position: -1565px -271px}
.TNW_Timeline_Arrow_Down_s {width:72px; height:35px; background-position: -1565px -234px}
.TNW_Timeline_Arrow_Up_n {width:72px; height:35px; background-position: -1565px -197px}
.TNW_Timeline_Arrow_Up_s {width:72px; height:35px; background-position: -1565px -160px}
.TNW_Timeline_Content_bg {width:1382px; height:810px; background-position: -2px -2px}
.TNW_Timeline_Play_n {width:177px; height:177px; background-position: -1386px -339px}
.TNW_Timeline_Play_s {width:177px; height:177px; background-position: -1386px -160px}
